/* ------------------------------------------------------------- */
/*                        Global Styles                          */
/* ------------------------------------------------------------- */
body {
    /*overflow: auto;*/
}

.black {
    background-color: rgb(0, 0, 0);
}
.red {
    background-color: rgb(255, 0, 0);
}
.orange {
    background-color: rgb(255, 175, 0);
}
.yellow {
    background-color: rgb(255, 255, 0);
}
.green {
    background-color: rgb(0, 255, 0);
}
.blue {
    background-color: rgb(0, 0, 255);
}
.purple {
    background-color: rgb(138, 43, 226);
}
.white {
    background-color: rgb(255, 255, 255);
}
.chooseGrid {
    z-index: 0;
    background-color: hsla(0, 0%, 100%, .8);
}
.desktopHeader {
  display: block;
}
.chooseGrid-hide {
    height: 0;
    width: 0;
    float: left;
    opacity: 0;
}
.pixelCol {
    /*float: left;*/
    /*white-space: nowrap;*/
    /*overflow: auto;*/
    display: inline-block;
}
.pixel {
    margin: 0 auto;
    border: thin solid black;
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    /*white-space: nowrap;*/
    /*float: left;*/

}
#gridCanvas {
  display: inline-block;
    /*display: block;*/
    white-space: nowrap;
    /*overflow: auto;*/
    /*background-image: url("../imgs/Cat.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*position: absolute;*/
    /*z-index: -1;*/
    border: medium solid magenta;
    width: 90%;
    /*height: 100%;*/
    margin: 0 auto;
}
/* ------------------------------------------------------------- */
/*                         Print Styles                          */
/* ------------------------------------------------------------- */

@media print {
    /* insert your style declarations here */
    .chooseGrid, #topBarButtons, #colorPalette {
        display: none;
    }
