/* ------------------------------------------------------------- */
/*                        Global Styles                          */
/* ------------------------------------------------------------- */

.black {
    /*box-shadow: inset 0 0 0 1000px black; */
    background-color: rgb(0, 0, 0) !important;
}
.red {
    background-color: rgb(255, 0, 0) !important;
}
.orange {
    background-color: rgb(255, 175, 0) !important;
}
.yellow {
    background-color: rgb(255, 255, 0) !important;
}
.green {
    background-color: rgb(0, 255, 0) !important;
}
.blue {
    background-color: rgb(0, 0, 255) !important;
}
.purple {
    background-color: rgb(138, 43, 226) !important;
}
.white {
    background-color: rgb(255, 255, 255) !important;
}
.chooseGrid {
    /*z-index: 0;*/
    background-color: hsla(0, 0%, 100%, .8);
}
.optionsButton {
    background-color: #7dfe90;
}
.resetButton {
    background-color: tomato;
}
.desktopHeader {
    display: block;
}
.header {
  font-size: 2em;
}
.chooseGrid-hide {
    height: 0;
    width: 0;
    float: left;
    opacity: 0;
}
.pixelCol {
    display: inline-block;
}
.pixel {
    margin: 0 auto;
    border: thin solid black;
    height: 1.5em;
    width: 1.5em;
    background-color: white;
}
#gridCanvas {
    width: 90%;
    margin: 0 auto;
    padding: 1%;
    /*padding-right: 5%;*/
    background-image: url("../imgs/Cat.jpg");
    background-size: cover;
    background-position: center;
    border: medium solid magenta;
    overflow-x: scroll;
    white-space: nowrap;
}
#color {
    border: thin solid black;
    float: left;
    height: 100%;
    width: 12.5%;
}

/* ------------------------------------------------------------- */
/*                        Desktop Styles                         */
/* ------------------------------------------------------------- */
@media (min-width: 768px) {
  #colorPalette {
      margin: 1%;
      margin-top: 1.5%;
      height: 30px;
      /*z-index: 0;*/
  }
}
/* ------------------------------------------------------------- */
/*                         Print Styles                          */
/* ------------------------------------------------------------- */

@media print {
  /*body {
    -webkit-print-color-adjust: exact !important;
  }
  #gridCanvas div {
    -webkit-print-color-adjust: exact !important;
  }*/
  .pixel {
    /*-webkit-print-color-adjust: exact !important;*/
    /*background-color: black !important;*/

  }
    /* insert your style declarations here */
    .chooseGrid, #topBarButtons, #colorPalette {
        display: none;
    }
}
